<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- core -->
    <script src="../static/libs/jquery/jquery.min.js"></script>
    <script src="../static/libs/angularjs/angular.min.js"></script>

    <!-- libs -->
    <script src="../static/libs/chartjs/chart.min.js"></script>
    <script src="../static/libs/ckeditor5/ballonblock/ckeditor.js"></script>
    <script src="../static/libs/toastr/toastr.min.js"></script>
    <script src="../static/libs/showdown/showdown.min.js"></script>

    <!-- css core -->
    <link rel="stylesheet" href="../static/libs/tabler/Tabler/dist/css/tabler.min.css">
    <link rel="stylesheet" href="../static/libs/tabler/Tabler/dist/css/tabler-flags.min.css">
    <link rel="stylesheet" href="../static/libs/tabler/Tabler/dist/css/tabler-payments.min.css">
    <link rel="stylesheet" href="../static/libs/tabler/Tabler/dist/css/tabler-vendors.min.css">
    <link rel="stylesheet" href="../static/libs/tabler/Tabler/dist/css/demo.min.css">

    <link rel="stylesheet" href="../static/libs/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="../static/libs/toastr/toastr.min.css">

    <script th:inline="javascript">
        let data = [[${first}]];
        console.dir(data);
        const container = angular.module("container", []);

        container.controller("container-controller", async ($sce,$scope,$timeout)=> {


        })

    </script>
</head>
<body>
    <div class="bg-dark w-100">fdsaf</div>
    <div class="container" ng-app="container" ng-controller="container-controller">
        <div th:text="${first.data}"></div>

    </div>
</body>
</html>